<div class="col-xs-12">
    <h3>{{ compositionCtrl.compositionDetails.title }} in {{compositionCtrl.compositionDetails.level}}</h3>
    <h4>{{ compositionCtrl.compositionDetails.author }}</h4>
    <p>
        <iframe class="youtube-player" type="text/html" ng-src="{{compositionCtrl.trustSrc(compositionCtrl.compositionDetails.videoScr.youtube)}}" width="560" height="315" frameborder="0" allowfullscreen></iframe>
    </p>
    <p>Year: {{compositionCtrl.compositionDetails.year}}</p>
    <p>Genre: {{compositionCtrl.compositionDetails.genre}}</p>
    <p><span class="label label-default" ng-repeat="(key, data) in compositionCtrl.compositionDetails.instruments">{{key}}<span class="badge"> {{data}} </span></span> </p>
    <h4>{{ compositionCtrl.compositionDetails.description }}</h4>
</div>