<div class="compositions_list" ng-class="{'closed': compositionsCtrl.isDetails()}">
    <ul class="list-unstyled">
        <li ng-repeat="composition in compositionsCtrl.compositions"  ng-class="{'is_active': compositionsCtrl.isActive(composition._id)}">
            <a ui-sref="compositions.details({id: composition._id})">
                <div class="row">
                    <div class="col-xs-12 composition_title">
                        {{composition.title}} in {{composition.level}}
                    </div>
                    <div class="col-xs-12 composition_author">
                        {{composition.author}}
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>

<div class="composition_details" ng-class="{'open': compositionsCtrl.isDetails()}" ui-view></div>