@import url(https://fonts.googleapis.com/css?family=Tangerine:400,700);
@media (min-width: 1600px) {
  .container {
    width: 1400px; } }

@-webkit-keyframes slide-in {
  0% {
    margin-left: 100%; }
  50% {
    margin-left: 0px; }
  75% {
    margin-left: 30px; }
  90% {
    margin-left: 0px; }
  95% {
    margin-left: 10px; }
  100% {
    margin-left: 0px; } }

@keyframes slide-in {
  0% {
    margin-left: 100%; }
  50% {
    margin-left: 0px; }
  75% {
    margin-left: 30px; }
  90% {
    margin-left: 0px; }
  95% {
    margin-left: 10px; }
  100% {
    margin-left: 0px; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes color-change {
  0% {
    background-color: #555; }
  50% {
    background-color: #BFBFB0; }
  100% {
    background-color: #555; } }

@keyframes color-change {
  0% {
    background-color: #555; }
  50% {
    background-color: #BFBFB0; }
  100% {
    background-color: #555; } }

html {
  height: 100%; }
  html body {
    background-image: url(/images/bg1.png);
    height: 100%; }
    html body nav.navbar {
      z-index: 1;
      height: 200px;
      background-color: white;
      margin-bottom: 0px; }
      html body nav.navbar .container {
        padding: 30px;
        height: 200px;
        background-image: url(/images/flute.png);
        background-repeat: no-repeat;
        background-position: 80% 50%;
        background-size: contain; }
        html body nav.navbar .container .navbar_brand {
          text-decoration: none;
          font-family: 'Tangerine', cursive;
          -webkit-transition: color 0.2s ease;
          transition: color 0.2s ease;
          position: relative;
          font-weight: bold;
          color: #878787;
          text-shadow: 0px 0px 0px #ABABAB, 0px 1px 3px #828282, 0px 2px 0px #4F4F4F, 0px 3px 0px #4F4F4F, 0px 4px 0px #4F4F4F, 0px 5px 1px rgba(0, 0, 0, 0.7), 0px 9px 5px rgba(0, 0, 0, 0.5); }
          html body nav.navbar .container .navbar_brand:after {
            color: rgba(255, 255, 255, 0);
            text-shadow: 0px -2px 2px rgba(255, 255, 255, 0.6);
            content: "FLUTE";
            /* Must be the same as the text */
            position: absolute;
            right: 0px; }
          html body nav.navbar .container .navbar_brand:hover {
            color: #DEDEDE; }
          html body nav.navbar .container .navbar_brand .big {
            font-size: 80px;
            float: left; }
          html body nav.navbar .container .navbar_brand .small {
            font-size: 40px;
            float: left;
            clear: left;
            margin-top: -40px; }
    html body .container.main_container {
      min-height: 100%;
      padding-top: 270px;
      margin-top: -250px;
      padding-bottom: 20px;
      padding-left: 65px;
      position: relative;
      background-color: white; }
      html body .container.main_container #sidebar {
        max-width: 340px;
        width: 50px;
        position: absolute;
        overflow-x: hidden;
        overflow-y: auto;
        top: 250px;
        border-right: 1px solid gray;
        bottom: 0px;
        left: 0px; }
        html body .container.main_container #sidebar.affix-top {
          position: absolute; }
        html body .container.main_container #sidebar.affix {
          position: fixed;
          top: 0px; }
      html body .container.main_container .content_container {
        overflow-x: hidden;
        min-height: 100%; }
        html body .container.main_container .content_container .compositions_list {
          float: left;
          width: 95%; }
          html body .container.main_container .content_container .compositions_list.closed {
            width: 40%; }
          html body .container.main_container .content_container .compositions_list li {
            background-image: url(/images/key-symbol-sm.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 0% 50%;
            margin-bottom: 10px;
            padding: 0px 30px 0px 15px; }
            html body .container.main_container .content_container .compositions_list li a {
              color: black;
              padding: 10px 15px; }
              html body .container.main_container .content_container .compositions_list li a div.row div {
                padding-left: 50px; }
                html body .container.main_container .content_container .compositions_list li a div.row div.composition_title {
                  border-top: 1px solid black;
                  border-bottom: 1px solid black; }
                html body .container.main_container .content_container .compositions_list li a div.row div.composition_author {
                  border-bottom: 1px solid black; }
            html body .container.main_container .content_container .compositions_list li.is_active {
              -webkit-animation: color-change 10s ease infinite;
                      animation: color-change 10s ease infinite; }
              html body .container.main_container .content_container .compositions_list li.is_active a {
                color: white; }
        html body .container.main_container .content_container .composition_details {
          background-color: #555;
          float: left;
          height: 100%;
          width: 5%;
          padding: 10px;
          overflow-x: hidden;
          overflow-y: auto;
          -webkit-animation: color-change 10s ease infinite;
                  animation: color-change 10s ease infinite; }
          html body .container.main_container .content_container .composition_details.open {
            width: 60%; }
    html body .footer {
      height: 50px;
      padding: 15px; }

/*# sourceMappingURL=styles.css.map */
